fa-icon {
  margin-right: 5px;
}

hr {
  background: #ffffff82;
  margin: 0px 10px;
}

ion-card-header {
  padding: 5px 0;
}

ion-item {
  --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
}

.divider {
  padding: 0 15px;
  --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
  &::before {
    content: '';
    width: calc(100% - 30px);
    border: 1px #ffffff82 solid;
    position: absolute;
    z-index: 2;
  }
}

.date-header {
  text-align: center;
  border-right: solid 3px;
  --border-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));

  h2 {
    margin: 0;
  }
}

.counts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  div {
    height: 18px;
  }
}

.ounces-col {
  display: flex;
  justify-content: space-around;
  
  .ounces-edit-button {
    font-size: 25px;
    line-height: 0.7;
    background: transparent;
  }
}